@import url('./general-sans.css');

:root {
  color-scheme: light dark;

  --light-bg: ghostwhite;
  --dark-bg: rgb(12, 14, 14);

  --dark-bg: rgb(12, 14, 14);
  --dark-color: ghostwhite;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'GeneralSans-Regular', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 1.75rem;
  letter-spacing: 0.8px;
  font-size: 1rem;
  color: light-dark(var(--light-color), var(--dark-color));
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0.9;
}

h1 {
  font-size: 4.25rem;
  letter-spacing: -2px;
}

h2 {
  font-size: 2.625rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.625rem;
  letter-spacing: -1px;
}

.box {
  width: 24px;
  height: 24px;
  background: red;
}

main {
  width: 100vw;
}

article {
  /* width: 100%; */
  max-width: 720px;
  margin: 0 auto 20rem auto;
  padding: 0 3rem;
}

section {
  margin-bottom: 4rem;
}

button {
  display: unset;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  
  &:hover {
    background-color: beige;
  }
}

/* javascript floating example */

#floating-container {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  width: 100%;
  border: 1px solid grey;
  padding: 12px;
  margin: 40px;
}

#floating-title {
  user-select: none;
}

#floating-container * {
  grid-area: container;
}

.floating-box {
  /* position: absolute; */
  inset: 0;
  width: 24px;
  height: 24px;
  background-color: blue;
}

/* motion section */

#section-in-view {
  display: flex;
  gap: 2px;

}

.in-view-box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 12px;
  opacity: 0;
}

.motion-text {
  opacity: 0;
}

.animate-text {
  opacity: 0;
  transform: translate(-20px, 0);
}